//importacion variables

@import "../base/variables";
@import "../base/mixin";

body{
    .chocolate-cuerpo{
        @include cuerpo;
        .chocolate-corazon:hover{
            transition: 3s;
            padding: 30px;
            transform: skewY(5deg);
            text-shadow: 30px 40px black;
        }
        
    }
}